.cashInput-wrapper {
    height: 40px;
}
.cashInputText {
    font-size: 2em;
    vertical-align: middle;
}
.cashInput {
    width: 20%;
    padding: 5px;
    font-size: 1em;
    vertical-align: middle;
}
.cashSign {
    color: green;
}